:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --text-decoration-color: #757575;
  --title-color: #212121;
  --secondary-color: #ffffff;
  --footer-color:#2F303A;
  --footer-link-kolor:rgba(255, 255, 255, 0.6);
  --bacgraund-color: #2F303A;
  --bacground-secon-color: #F5F4FA;


}
body {
  font-family: var(--main-font);
  color: var(--title-color);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}
.link { current:
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
  color: var(--text-decoration-color);
}

.adress {
  font-style: normal;
}
/* ------ header ---- */
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}
.header-studio {
  color: var(--title-color);
}
.navigation-link{ 
  font-family:var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.info{
  font-family:var(--main-font);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
  color: var(--text-decoration-color);  
}
.info:focus,
.info:hover{
  color: var(--accent-color);
}
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.current{
  color: var(--accent-color);
}
/* ------ end header ---- */
/* ----- hero------ */
.text {
  font-family: var(--main-font);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: var(--secondary-color);
 
}
.heroo-color{ background-color: var(--bacgraund-color);

}
.modal-btn {
    font-family:inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  background: var(--accent-color);


}
.text-btn {
  color: var(--secondary-color);
}
.modal-btn:hover,
.modal-btn:focus{
   color: var(--secondary-color);
 background-color: var(--accent-color);
}

/* -----  end hero------ */
/* --- main---- */
.main-btn:hover,
.main-btn:focus {
  color:var(--bacground-secon-color);
 background:  var(--accent-color);
}
.main-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color:var(--title-color);
  background:var(--bacground-secon-color) ;

 
}
.projekt-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  background-color: var(--secondary-color);
}
.projekt-list-item{
  font-family: var(--main-font);
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color:var(--title-color);
}
.info-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--text-decoration-color);
}
/* ----end main---- */
/* --- FEATURES ---*/
.features-list-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}
.features-text-item {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-decoration-color);
}
/* ---  end FEATURES ---*/
/* WHAT_ARE_WE_DOING */
.wedoing-list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}
/* end WHAT_ARE_WE_DOING */
/* ---Team--- */
.our-team{
  background-color:var(--bacground-secon-color);
}

.our-team-first {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.name-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--title-color);
}
.proffesion-our-team {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-decoration-color);
}
/* --- end Team--- */
/* --footer-- */
.footer-dark {
  color: var(--secondary-color);
}
.map-link{
  font-family: var(--main-font);
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--secondary-color);
}


.footer-link {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-link-kolor);
}
.foot-stile{
  background-color: var(--footer-color);

}

/* --end footer-- */
