:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
}
body {
  font-family: var(--main-font);
  background: rgba(255, 255, 255, 1);
}

.link {
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: #2196f3;
}

.list {
  list-style: none;
}

.adress {
  font-style: normal;
}
/* ------ header ---- */
.navigation-link:hover,
.navigation-link:focus {
  color: #2196f3;
}
.navigation-list {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: #2196f3;
}
.logo-light-theme {
  background: rgba(0, 0, 0, 1) background: rgba(255, 255, 255, 1);
}
.logo-dark-theme {
  background: rgba(255, 255, 255, 1);
}
.logo-item {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 1);
}
/* ------ end header ---- */
/* ----- hero------ */
.text {
  font-family: var(--secondary-font);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.modal-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.modal-btn:hover,
.modal-btn:focus {
  background: #2196f3;
  color: #ffffff;
}

/* -----  end hero------ */
/* --- main---- */
.main-btn:hover,
.main-btn:focus {
  background: #2196f3;
  color: #ffffff;
}
.main-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.projekt-item {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: #212121;
}
.info-item {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: #757575;
}
/* ----end main---- */
/* --- FEATURES ---*/
.features-list-item {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-text-item {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}
/* ---  end FEATURES ---*/
/* WHAT_ARE_WE_DOING */
.wedoing-list-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
/* end WHAT_ARE_WE_DOING */
/* ---Team--- */
.our-team-first {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.name-team {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.proffesion-our-team {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
/* --- end Team--- */
/* --footer-- */

.footer-link {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  /* color: rgba(255, 255, 255, 0.6); */
}

/* --end footer-- */
